#input1 {
  width: 190px;
  height: 23px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  border: none;
  padding: 0;
}

#input2 {
  width: 198px;
  height: 31px;
  border: solid 2px #000000;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
}

#input3 {
  width: 198px;
  height: 31px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  border: none;
  border-bottom: solid 2px #000000;
}

#input4 {
  border: solid 2px #000000;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  border-left: solid 20px #000000;
  padding: 10px;
  padding-left: 20px;
}

#input5 {
  background-color: #000000;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  border: none;
  padding: 10px;
}
